@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>University Management System.</p>
    <img src="/images/Uploading-rafiki.png" alt="UMS Home" width="700" height="700">
    <img />
    <p><a href="https://storyset.com/online">Online illustrations by Storyset</a></p>
</div>
